<div class="container p-4">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-8 mx-auto ">

            <div class="card " style="width: 100%;">
                <div class="card-header">
                    <p>Emprendedor</p>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="">Nombre Completo</label><br>
                            <input class="form-control" style="width: 50%;" type="text" name="name" autofocus><br>

                            <label for="">Correo</label><br>
                            <input class="form-control" style="width: 50%;" type="mail" name="mail" autofocus><br>

                            <label for="">Telefono</label><br>
                            <input class="form-control" style="width: 50%;" type="text" name="phone" autofocus><br>


                            <br>


                            <div class="card-header">
                                <p> Proyecto</p>
                            </div>

                            <label for="">Nombre del proyecto</label><br>
                            <input class="form-control" style="width: 50%;" type="text" name="proyectoname" autofocus><br>

                            <label for="">URL de video</label><br>
                            <input class="form-control" style="width: 50%;" type="text" name="yt" autofocus><br>


                            <label for="">Area</label><br>
                            <select class="form-control"  style="width: 50%;" name="area" id="">
                                <option value="1">Físico matemáticas y ciencias de la tierra</option>
                                <option value="2">Biología y química</option>
                                <option value="3">Medicina y ciencias de la salud</option>
                                <option value="4">Humanidades y ciencias de la conducta</option>
                                <option value="5">Ciencias sociales y economía</option>
                                <option value="6">Biotecnología y ciencias agropecuarias</option>
                                <option value="7">Ciencias de la ingeniería</option>
                                <option value="8">Investigación multidisciplinaria</option>

                            </select><br>

                            <label for="">Universidad a la que tu proyecto esta afiliado</label><br>
                            <input class="form-control" style="width: 50%;" type="text" name="uniname" autofocus><br>

                            <label for="">Descripción</label><br>
                            <textarea class="form-control" style="width: 50%;" name="descrip" placeholder="Descripción de proyecto">
                                    </textarea>
                            <br>

                            <label for="">Nombre del Investigador Tutoro</label><br>
                            <input class="form-control" style="width: 50%;" type="text" name="investigador" autofocus><br>

                            <label for="">Mail del Investigador Tutor</label><br>
                            <input class="form-control" style="width: 50%;" type="text" name="mailinvestigador" autofocus><br>

                            <label for="">No. CVU del Investigador</label><br>
                            <input class="form-control" style="width: 50%;" type="text" name="cvu" autofocus><br>

                            <label for="">Adjuntar One Pager</label><br>
                            <input style="width: 50%;" type="file" name="onepager" autofocus><br>



                            <br>
                            <div class="card-footer">
                                <input type="submit" value="submit" class="btn btn-secondary   pull-right">
                            </div>

                        </div>

                </div>
            </div>



        </div>
           </div>
   
</div>